*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}
.main{
    background-color: black;
    width: 300px;
    height: 280px;
}
input{
    width: 20%;
    height: 40px;
    font-size: 20px;
    margin: 6px;
}
#ans{
    width: 96%;
    height: 50px;
    background-color: silver;
}